###############################################################################
##  All configurable variables are defined in the file named makefile.in.config
##  When Autoconf is run, it will create a file named makefile.in which
##  will have all of the configurable variables replaced with their values.
##############################################################################

@SET_MAKE@
srcdir = @srcdir@
top_srcdir = @top_srcdir@
prefix = @prefix@
exec_prefix = @exec_prefix@
VPATH = @srcdir@

EVSL_RELEASE_NAME    = @EVSL_NAME@
EVSL_RELEASE_VERSION = @EVSL_VERSION@
EVSL_RELEASE_DATE    = @EVSL_DATE@
EVSL_RELEASE_TIME    = @EVSL_TIME@
EVSL_RELEASE_BUGS    = @EVSL_BUGS@

EVSL_SRC_DIR         = @EVSL_SRCDIR@
EVSL_BUILD_DIR       = @EVSL_SRCDIR@/EVSL
EVSL_INSTALL_DIR     = ${prefix}
EVSL_LIB_INSTALL     = ${EVSL_INSTALL_DIR}/lib
EVSL_INC_INSTALL     = ${EVSL_INSTALL_DIR}/include
EVSL_LIB_SUFFIX      = @EVSL_LIBSUFFIX@

EVSL_WITH_CUDA       = @EVSL_WITH_CUDA@
EVSL_WITH_MKL        = @EVSL_WITH_MKL@

.SUFFIXES: .o .c .f90 .cu

##################################################################
## RULES
# ##################################################################
%.o: %.c
	$(MUTE) $(CC) $(CFLAGS) $(INCLUDES) -o $@ -c $<

%.o: %.f90
	$(MUTE) $(FC) $(FCFLAGS) $(INCLUDES) -o $@ -c $<

%.o: %.cu
	$(MUTE) $(CUCC) $(CUFLAGS) $(INCLUDES) -o $@ -c $<

CC                   = @CC@
CFLAGS               = @CFLAGS@
LINK_CC              = @LINK_CC@
FC                   = @FC@
FCFLAGS              = @FCFLAGS@
LINK_FC              = @LINK_FC@
LDFLAGS              = @LDFLAGS@
CUCC                 = @CUCC@
CUFLAGS              = @CUFLAGS@
AR                   = @AR@
RANLIB               = @RANLIB@
LIBS_DIR             = @LIBS_DIR@
LIBS                 = @LIBS@

# SHARED LIBRARIES
BUILD_FC_SHARED     = @BUILD_FC_SHARED@
BUILD_CC_SHARED     = @BUILD_CC_SHARED@
SHARED_SET_SONAME   = @SHARED_SET_SONAME@
SHARED_OPTIONS      = @SHARED_OPTIONS@

##################################################################
## BLAS & LAPACK
##################################################################
LIBLAPACK            = @LIBLAPACK@
LIBLAPACK_DIR        = @LIBLAPACK_DIR@
LIBBLAS              = @LIBBLAS@
LIBBLAS_DIR          = @LIBBLAS_DIR@

##################################################################
## INTEL MKL
##################################################################
MKLROOT             = @MKLROOT@

##################################################################
## CUDA
##################################################################
CUDA_HOME           = @CUDA_HOME@

##################################################################
## DIRECT SOLVER
##################################################################
DIRECTSOL            = @DIRECTSOL@
DIRECTSOL_INTERFACE  = ${EVSL_SRC_DIR}/DIRECT/Interface/@DIRECTSOL_INTERFACE@
METIS_DIR            = @METIS_DIR@
SUITESPARSE_DIR      = @SUITESPARSE_DIR@
LIBDIRECTSOL         = @LIBDIRECTSOL@
